
extends: "4catalyzer-react"
rules:
  no-param-reassign: off
  import/no-extraneous-dependencies:
    - error
    - devDependencies: true
  react/no-unknown-property:
    - error
    - ignore: 
      - for
